/* body {
  margin: 10;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
img {
  width: 50%; /* Adjust this value as needed */
  height: 50%; /* Adjust this value as needed */
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Adjust grid column sizing as needed */
  gap: 47px; /* Adjust gap between grid items as needed */
}

.card-title {
  display: inline-block;
  margin-right: 10px; /* Adjust the margin as needed for spacing */
}

.button-container {
  display: flex; /* Display the buttons in a row */
  gap: 10px; /* Add a gap of 10px between buttons */
}

.edit {
  width: 60%; /* You can adjust the width value as needed */
}

.visited-text {
  margin-left: 45px; /* Add margin to the left of the span */
}